<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stato Mezzi</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">
    <h1 class="text-center">Stato dei Mezzi</h1>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Targa</th>
                <th>Tipo</th>
                <th>Stato</th>
                <th>AAT</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="mezzo : ${mezzi}">
                <td th:text="${mezzo.id}"></td>
                <td th:text="${mezzo.targaMezzo}"></td>
                <td th:text="${mezzo.tipoMezzo}"></td>
                <td th:text="${mezzo.statoMezzo}"></td>
                <td th:text="${mezzo.aat.nomeAat}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center mt-3">
        <a th:href="@{/api/emergenza/all}" class="btn btn-primary">Indietro</a>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
